body{
    background-image: url("images/halaman.png");
   
}

.container{
    width: 30%;
    margin-top: 9%;
    box-shadow: 0 3px 20px #474e5d;
    padding: 40px;
    background-color: white;
}   

